.headerBg {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-bg-color);
  backdrop-filter: var(--bg-blur);

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
}