.headerBg {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #101216b2;
  backdrop-filter: blur(3px);

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 4px;
}