.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 30px;
  box-shadow: 0px 4px 6px rgba(83, 91, 242, 0.3);
  border-radius: 4px;
}