.searchFormSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .searchFormSection {
    align-items: center;
  }
}


.label {
  padding-bottom: 8px;
}

.input {
  font-family: inherit;
  color: #e4e4e4;
  border: 1px solid rgba(228, 228, 228, 0.6);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
  transition: border-color .25s ease;
  width: 100%;
  max-width: 280px;

  &:hover,
  &:focus {
    outline: none;
    border-color: #6979f8
  }
}