.searchFormSection {
  display: flex;
  gap: 12px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 16px;
  padding-top: 8px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 8px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .searchFormSection {
    flex-direction: column;
    align-items: center;
  }
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
}

.label {
  padding-bottom: 8px;
}

.input {
  font-family: inherit;
  color: #e4e4e4;
  border: 1px solid rgba(228, 228, 228, 0.6);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  padding: 8px;
  transition: border-color .25s ease;
  min-width: 264px;

  &::placeholder {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: #6979f8
  }
}

@media (max-width: 768px) {
  .input {
    min-width: 244px;
  }
}