.contactFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}