.form {
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 280px;
  padding: 20px;
  margin-bottom: 30px;
}

@media (max-width: 425px) {
  .form {
    margin: 0 auto 30px;
  }
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  padding-bottom: 4px;
}

.input {
  font-family: inherit;
  color: #e4e4e4;
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 8px;
  background-color: transparent;
  padding: 8px;
  transition: border-color .25s ease;

  &::placeholder {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    outline: none;
    border-color: #6979f8
  }
}

.error {
  color: #ff647c;
  font-size: 12px;
}

.registrationPageTitle {
  margin-bottom: 20px;
}

.loginButton {
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;

  &:disabled {
    cursor: no-drop;
    background-color: #6E6E6E;
  }
}

.linkToRegisterPage {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-decoration: underline;
  text-underline-offset: 2px;
  color: inherit;
}