.contactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(228, 228, 228, 0.6);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 280px;
  transition: border-color .3s ease;
  cursor: text;

  &:hover,
  &:focus {
    border-color: rgba(105, 121, 248, 0.5);
  }
}

.contactButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.editButton,
.deleteButton {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 4px;
}

.editButton {
  background-color: #f89b69;

  &:hover,
  &:focus {
    background-color: #f57641;
  }
}

.deleteButton {
  background-color: #f86979;

  &:hover,
  &:focus {
    background-color: #e0434c;
  }
}

.editIcon,
.deleteIcon {
  font-size: 20px;
}