.messageModalBg {
  position: fixed;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3b448a;
  border-radius: 4px;
  padding: 10px;
  z-index: 999;
  transition: top .25s ease;
}

.visible {
  top: 20px;
}