.messageModalBg {
  position: fixed;
  top: -100%;
  left: 50%;
  width: 100%;
  max-width: 260px;
  transform: translateX(-50%);
  background-color: var(--hover-button-bg-color);
  border-radius: 4px;
  padding: 10px;
  z-index: 999;
  transition: top .25s ease;
  text-align: center;
}

.visible {
  top: 20px;
}