@import './reset.css';

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0b0b;
  padding: 16px;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
  transition: all .3s ease-in-out;

  &:hover,
  &:focus {
    color: #535bf2;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: #6979f8;
  color: #fff;
  margin: 0 auto;
  display: block;

  &:hover {
    background-color: #95a2ff;
    transition: background-color 0.25s ease;
  }
}

.request {
  margin-bottom: 12px;
}

@media (max-width: 425px) {

  .request,
  .noContacts {
    text-align: center;
  }
}